@import './var.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        background-color: var(--color-bg);
}
.navbar {
    background-color:var(--color-bg);
    width: 100vw;
    margin: 0;
}

.avatar {
   padding: 0;
   margin: 0;
}


.addPadding {
    padding: 0.7rem;
}

.search-container {
    background-color: var(--color-bg);
    border: none;

}

.navbar ul li a:hover {
  background-color: var(--color-bg) !important;
}

  @media (max-width:8){}

  /* ----------------------------------- */
  .viewAll{
    background-color: var(--color-primary);
  }

  .card-img-top {
    height: 12.5rem; 
    object-fit: contain; 
  }
  
  .product-container {
    height: 80vh;
  }

  /* ---------carousel */
  .carousel-item {
    height: 90vh;

  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%; 
    width: 100vw; 
  }
  
  .container-fluid button {
    border: none;
  }

  .carousel-caption-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1; 
  }
  
  .carousel-caption {
    position: relative;
    margin-right:70rem;
    text-align: left;
    margin-top: 25rem;
    color: white; 
    z-index: 2; 
  }
